

<div class = "panel-container panel">
  <div class = "row">
    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
			<div class="panel panel-teal panel-widget border-right">
				<div class="row no-padding"><em class="fa fa-xl fa-android color-blue"></em>
					<div class="large">5</div>
					<div class="text-muted">Bots Running</div>
				</div>
			</div>
		</div>
    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
      <div class="panel panel-orange panel-widget border-right">
        <div class="row no-padding"><em class="fa fa-xl fa-shopping-cart color-orange"></em>
          <div class="large">26K</div>
          <div class="text-muted">Records entered today</div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
      <div class="panel panel-teal panel-widget border-right">
        <div class="row no-padding"><em class="fa fa-xl fa-shopping-cart color-teal"></em>
          <div class="large">127K</div>
          <div class="text-muted">Records awaiting entry</div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
      <div class="panel panel-teal panel-widget border-right">
        <div class="row no-padding"><em class="fa fa-xl fa-ellipsis-h color-red"></em>
          <div class="large">127K</div>
          <div class="text-muted">Records awaiting entry</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class = "row">
  <div class = "col-md-6">
    <div class = "panel panel-default">
      <div class = "panel-heading">Today's Breakdown</div>
      <div class="panel-body" style="display: block;">
				<div class="canvas-wrapper">
					<canvas class="chart" id="doughnut-chart" height="366" width="733" style="width: 733px; height: 366px;"></canvas>
				</div>
			</div>
    </div>
  </div>
</div>
