<div class = "row">
  <div class = "col-lg-6 col-lg-offset-3">
    <div class = "error-page text-center">
      <h1>{{error.status}}</h1>
      <h3>{{message}}</h3>
    </div>
  </div>
</div>
<hr />
<div class = "col-lg-10 col-lg-offset-1">
  {{ error.stack }}
</div>
