
<input type="date" name="bday">
<div id = "log_table"></div>
<div id = "report"></div>

<script>

document.addEventListener("DOMContentLoaded", function(event) {

  var log_type;
  var tabledata ;
  var params = new URLSearchParams(window.location.search);
  if(params.has('type')) {
    if(['data', 'error', 'exception'].indexOf(params.get('type')) > -1) {
      log_type = params.get('type');
    } else {
      log_type = 'data';
    }
  } else {
    log_type = 'data';
  }


  var table = new Tabulator("#log_table", {
      height: window.innerHeight*0.8,
      layout: 'fitColumns',
       resizableRows:true,
      columns: [
        {title:"Result", field:"result"},
    	 	{title:"Mode", field:"mode"},
    	 	{title:"Type", field:"type"},
    	 	{title:"Identifier", field:"identifier"},
      ],
      rowClick: function(e, row) {
        alert("Row " + row.getData().id + " clicked!");
      },
    });

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {

    if (this.readyState == 4 && this.status == 200) {
      table.setData(JSON.parse(this.responseText));
    }
  };
  xhttp.open("GET", "http://localhost:9872/api/v0/logs/data_entry/2018-10-26/", true);
  xhttp.send();

  });

</script>
